page-leave-history {

    .ico1
{
color: green;



}

.ico2
{
color: orange;
padding-left: 7px;
padding-right: 7px;
border-color: orange;
border-radius: 50%;
border-width: 1px;
border-style: solid;


}

.typec
{
    margin-left: 0px;
    font-size: 20px;
    font-weight: 600;

}
.dates
{
    margin-left: 12%;
    font-size: 17px;
    font-weight: 400;

}

.durationc
{
    margin-left: 12%;
    font-size: 14px;
    font-weight: 400;
  color: darkgray;
}

.remarksc
{
    margin-left: 12%;
    font-size: 14px;
    font-weight: 400;
    color: darkgray;
}
.yy
{
border-color: red;
border-style: solid;
border-width: 2px;
padding: 0px;
}

}
