page-labor-card {
    .list_name
    {
       
       
        margin-left: 0px;
        margin-right: 10px;
        font-size: 18px;
        font-weight: 400;
     display: block;

    
   
    }


.list-value
{

  
 float: right;
     
 //max-width: 90%;   
 //color: rgb(131, 131, 131);
 color:darkgray;
    white-space:normal;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 5px;
 //clear: both;
}

.header1
{
color: cornflowerblue;

}
}
