page-housing-submit {
    .typec
    {
       
       
        margin-left: 0px;
        font-size: 18px;
        font-weight: 400;
     display: block;

    
   
    }


.typsesc
{

  
 float: right;
     
    color: darkgray;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;

}

.typec2
{
    margin-left: 0px;
    font-size: 20px;
    font-weight: 600;

}

.dates2
{

font-size: 17px;
font-weight: 400;

}


.divx
{

background: darkgreen;
height: 40px;
width: 40px;
color: white;
border-radius: 50%;
text-align: center;
padding-top: 12px;

}
}
