page-absenc-calendar-db {
    .chart {
      //  width: 5000px !important; 
       // height:700px;
        //min-height: 450px;
       // margin-left:-10px;
       min-height:90vw !important; 
       margin-right:10px;
       margin-top:5px;
       transform: rotate(90deg);
     //  overflow-x: auto
      }
}
