page-teamdetails {
    .close-btn
    {
        color: #fff;
    }
    .break-word
{
word-wrap: break-word;


}
.txt_word
{
color:black;

 
}
.searchbar-search-icon { display:none; width:0; height:0; }
}