page-payslip-details {
    .list-name
    {
       
       
        margin-left: 0px;
        font-size: 18px;
        font-weight: 400;
     display: block;

    
   
    }


.list-value
{

  
 float: right;
     
 max-width: 90%;   
 color: darkgray;
    white-space:normal;
    text-overflow: ellipsis;
    overflow: hidden;

}
.list1
{
margin-top: 20px;

}
.bold-txt
{
font-weight: 600;
}
}
