page-hr-requests {
//mnb and btn-txt defined at app.scss


       .ion-content
       {
           
           
           background-color: white;
          
       }

       .aw-ico1 {
        font-size: 60px;
        color: white;
           
          }
          
          .ico-fa-btn1
          {
       background-color: #353D4e;
       width: 100%;
               height: 100%;
               // background:#85DAF6;
              
               padding: 0px;
               border-top-left-radius: 15px;
               border-top-right-radius: 15px;
               border-bottom-left-radius: 15px;
               border-bottom-right-radius: 15px;
       
               margin-right: 2%;
               margin-top: 10%;
       
          }
}
