page-basic-data {
    .list_name
    {
       
       
        margin-left: 0px;
        font-size: 18px;
        font-weight: 400;
     display: block;

    
   
    }


.list-value
{

  
 float: right;
     
 max-width: 90%;   
 //color: rgb(131, 131, 131);
 color:darkgray;
    white-space:normal;
    text-overflow: ellipsis;
    overflow: hidden;

}

.img-p1
{
    height: 60px;
    width:60px;
    border-radius: 50%;
    border :1.5px #488aff solid;
    margin-left: calc(50% - 30px);
    margin-top:10px;
   
}

.name-class
{
text-align: center;
color: #488aff;
font-size:18px;
margin-top: 10px;
margin-bottom: 10px;

}
}
