page-bank-info {
    .divx
{

background: green;
height: 40px;
width: 40px;
color: white;
border-radius: 50%;
text-align: center;
padding-top: 12px;

}

.list-item-title1

{
    color: #000;
    font-size: 17px;
    font-weight: 600;
    
}


.list-item-sub-title1

{
    color: darkgray;
    font-size: 14px;
    font-weight: 400;
    
}



}
