page-new-leave-submit {
    .ico2
    {
    color: orange;
    padding-left: 7px;
    padding-right: 7px;
    border-color: orange;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    
    
    }
    
    .typec2
    {
        margin-left: 0px;
        font-size: 20px;
        font-weight: 600;
    
    }

    .dates2
{
    
    font-size: 17px;
    font-weight: 400;

}

.typec
    {
        margin-left: 0px;
        font-size: 20px;
        font-weight: 400;
       
    
    }
    .dates
    {
        margin-left: 12%;
        font-size: 18px;
        font-weight: 400;
    
    }

.typsesc
{

    display: inline-block;
    color: darkgray;


}

.list-value
{

 float: right;
 max-width: 60%;   
 color:darkgray;
white-space: nowrap;
text-overflow: ellipsis;
overflow: hidden;
font-size: 17px;

}

.typsesc2
{
    display: block;
    padding-left: 5%;
    color: darkgray;
    text-align: end;
}

.x4
{
color: darkgray;
float: right;


}

.attch-no
{
    color: darkgray;
 
    font:inherit !important;
    display: inline-block;
    margin-right: 5px;

}

.label-1{

    color: rgb(0,0,0);
    font-size: inherit;
   }

   .divx
{

background: darkgreen;
height: 40px;
width: 40px;
color: white;
border-radius: 50%;
text-align: center;
padding-top: 12px;

}

}
