page-businesscard-preview {
    .req-symbol
    {color: red !important;
        font-style: normal;
        font-weight: bold;
    
    }


 .error-color  {
    color: red !important;
    }
    
  

   
}
