page-my-requisition-db {

    // .cha{
    //     height: 100px;
    //     width: 49.5%;
    //     display: inline-block;
    //     border:0px solid transparent;
    //     margin:0px;
        
        
    // }
    // .container1
    // {

    //     margin-top:30px;
    //     padding-top:20px;
    //     background-color :#c6c6c6;
    //     border:1px #2E75B6 solid;
    //    //  overflow-y: scroll !important;
    //     height: 90%
    // } 
    
    // .cha1
    // {
       
    // }
    // .cha2
    // {


    // }
    // .pa1
    // { 

    //     width:100%;
    //     border:0px solid transparent;
    //     margin:0px;
    //     display: block;
     
        
        
    // }
    // .sub-div
    // { width: 95%;
       
    //     border:1px #2E75B6 solid;
       
     
    //     text-align: center;
       
    //     background-color: #fff;
      
    // }

    // .sub-div-r
    // {
    //     float:right;
    //     margin-right:5%; 
        
    // }

    // .sub-div-l
    // {
    //     float:left;
    //     margin-left:5%;
      
        
    // }
    // .sub-div1
    // {   
    //     height: 100px;
    //     padding-top:20px;
       
    // }

    // .sub-div2
    // {   
    //    margin-top:5px;
    //     height: 30px;
       
        
    // }

    // .txt-req1{
       
    //     color: #488aff;
    //     font-size:50px;
    // }

    // .txt-req2{
       
    //     color: orange;
    //     font-size:50px;
    // }

    // .txt-req3{
       
    //     color: #4166a7;
    //     font-size:20px;
    // }
    // .mid1{

    //     height:50px;

    // }


.container
{
    margin-top: 30px;
    //max-width:10vw !important;
}

    .main-timeline{ font-family: 'Roboto', sans-serif; }
    .main-timeline .timeline{
        width:86% !important;
        padding: 0 0 0 80px;
        margin-bottom: 30px;
        border: 10px solid #E52449;
        border-radius: 90px;
        //float: left;
        margin-left:10px;
        position: relative;
        
       
    }
    .main-timeline .timeline:before{
        content: '';
        height: 125%;
        width: 10px;
        background-color: #fff;
        transform:translateY(-50%);
        position: absolute;
        left: 70px;
        top: 50%;
    }
    .main-timeline .timeline-content{
        background-color: #E52449;
        text-align: left;
        border-radius: 0 90px 90px 0;
        display: block;
        position: relative;
    }
    .main-timeline .timeline-content:hover{ text-decoration: none; }
    .main-timeline .content{
        background-color: #fff;
        padding: 17px 40px 17px 80px;
        border-radius: 90px;
       
    }
    .main-timeline .timeline-year{
        color: #fff;
        background-color: #E52449;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        line-height: 50px;
        height: 83px;
        width: 83px;
        border: 10px solid #D8DCE0;
        box-shadow: 0 0 15px rgba(0,0,0,0.5) inset;
        border-radius: 50%;
        transform:translateY(-50%);
        position: absolute;
        left: -60px;
        top: 50%;
       
    }
    .main-timeline .title{
        color: #E52449;
        font-size: 15px;
        text-transform: uppercase;
        margin: 0 0 7px 0;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
       
        width:80% !important;
    }
    .main-timeline .description{
        color: #000;
        font-size: 15px;
        letter-spacing: 1px;
        text-align: justify;
        margin: 0 0 5px 0;
    }
     .main-timelinex
    {
        display: block;
    }
    // .main-timeline .timeline:nth-child(even){
    //     float: left;
    //     padding: 0 80px 0 0;
    // }
    // .main-timeline .timeline:nth-child(even):before{
    //     left:auto;
    //     right: 70px;
    // }
    // .main-timeline .timeline:nth-child(even) .timeline-year{
    //     left:auto;
    //     right: -70px;
    // }
    // .main-timeline .timeline:nth-child(even) .timeline-content{
    //     border-radius: 90px 0 0 90px;
    //     text-align: right;
    // }
   // .main-timeline .timeline:nth-child(even) .content{ padding: 17px 80px 17px 40px; }
    .main-timelinex:nth-child(6n+2)    .timeline{border-color: #F67900;}
    .main-timelinex:nth-child(6n+2)     .timeline .timeline-content{background-color: #F67900;}
    .main-timelinex:nth-child(6n+2)     .timeline .timeline-year{background-color: #F67900;}
    .main-timelinex:nth-child(6n+2)     .timeline .title{color: #F67900;}
    .main-timelinex:nth-child(6n+3) .timeline{border-color: #9241EA;}
    .main-timelinex:nth-child(6n+3) .timeline .timeline-content{background-color: #9241EA;}
    .main-timelinex:nth-child(6n+3) .timeline .timeline-year{background-color: #9241EA;}
    .main-timelinex:nth-child(6n+3) .timeline .title{color: #9241EA;}
    .main-timelinex:nth-child(6n+4) .timeline{border-color: #8ab814;}
    .main-timelinex:nth-child(6n+4) .timeline .timeline-content{background-color: #8ab814;}
    .main-timelinex:nth-child(6n+4) .timeline .timeline-year{background-color: #8ab814;}
    .main-timelinex:nth-child(6n+4) .timeline .title{color: #8ab814;}
    .main-timelinex:nth-child(6n+5) .timeline{border-color: #3C9EEF;}
    .main-timelinex:nth-child(6n+5) .timeline .timeline-content{background-color: #3C9EEF;}
    .main-timelinex:nth-child(6n+5) .timeline .timeline-year{background-color: #3C9EEF;}
    .main-timelinex:nth-child(6n+5) .timeline .title{color: #3C9EEF;}

    .main-timelinex:nth-child(6n+6) .timeline{border-color: #f3ad0a;}
    .main-timelinex:nth-child(6n+6) .timeline .timeline-content{background-color: #f3ad0a;}
    .main-timelinex:nth-child(6n+6) .timeline .timeline-year{background-color: #f3ad0a;}
    .main-timelinex:nth-child(6n+6) .timeline .title{color: #f3ad0a;}
    // @media screen and (max-width:1200px){
    //     .main-timeline .timeline{ width: 59%; }
    //     .main-timeline .timeline-content{ border-radius: 0 92px 92px 0; }
    //     .main-timeline .timeline:nth-child(even) .timeline-content{ border-radius: 92px 0 0 92px; }
    //     .main-timeline .content{ padding: 25px 40px 25px 80px; }
    //     .main-timeline .timeline:nth-child(even) .content{ padding: 25px 80px 25px 40px; }
    // }
    // @media screen and (max-width:990px){
    //     .main-timeline .timeline{ width: 61.7%;}
    // }
  //  @media screen and (max-width:767px){
        .main-timeline .timeline{ width: 95%; }
        // .main-timeline .timeline:nth-child(even){
        //     float: right;
        //     padding: 0 0 0 80px;
        // }
        // .main-timeline .timeline:nth-child(even):before{ left:70px; }
        // .main-timeline .timeline:nth-child(even) .timeline-content{
        //     border-radius:0 92px 92px 0;
        //     text-align: left;
        // }
        // .main-timeline .timeline:nth-child(even) .timeline-year{ left: -70px; }
        // .main-timeline .timeline:nth-child(even) .content{ padding: 25px 40px 25px 80px; }
   // }
    // @media screen and (max-width:479px){
    //     .main-timeline{ padding-top: 30px; }
    //     .main-timeline .timeline,
    //     .main-timeline .timeline:nth-child(even){
    //         padding: 0;
    //         margin-bottom: 60px;
    //         border-radius: 10px;
    //     }
    //     .main-timeline .timeline:before{ display: none;}
    //     .main-timeline .timeline-content,
    //     .main-timeline .content{
    //         border-radius: 0 0 0 0;
    //     }
    //     .main-timeline .timeline-year,
    //     .main-timeline .timeline:nth-child(even) .timeline-year{
    //         top: -70px;
    //         left: 50%;
    //         transform:translateY(0) translateX(-50%) scale(0.7);
    //     }
    //     .main-timeline .timeline:nth-child(even) .content,
    //     .main-timeline .content{
    //         text-align: center;
    //         padding: 55px 20px 20px;
    //     }
    //     .main-timeline .title{ font-size: 18px; }
    // }

.grap-div
{

    transition: all 1s !important;
}

.tm-btn
      {

      border-width: 0px;
      text-align: center;
      background: transparent !important;
      }
}
