page-over-time-db {
.ttx
{

    width:120vw!important;
    margin-left:-11vw;
}


.ttx1
{

    width:150vw!important;
    height:80vh !important;
    margin-left:-29vw;
   // margin-top:-80px !important;
}  
}
