page-bu-headcount-db {
    .chart {
        width: 120vw !important; 
        min-height: 450px;
        margin-left:-20px;
      }

.chart1
{

    width:150vw!important;
    height:50vh !important;
    margin-left:-25vw;
    //margin-top:-5px !important;
} 

.chart2
{
    margin-top:-50px !important;
      

}
}
